body {
  box-sizing: border-box;
}

.makeup-and-hairstyle {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f4;
}
.makeup-and-hairstyle .makeup-main {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.makeup-and-hairstyle .makeup-main h2 {
  letter-spacing: 10px;
  text-align: center;
  font-size: 30px;
  color: #725a58;
  font-family: "Baskervville", serif;
}
@media (min-width: 991px) {
  .makeup-and-hairstyle .makeup-main h2 {
    font-size: 40px;
  }
}
.makeup-and-hairstyle .makeup-main span {
  display: inline-block;
  margin-bottom: 20px;
  width: 200px;
  height: 10px;
  border-bottom: 0.8px solid #e3b6b1;
}
.makeup-and-hairstyle .makeup-main p {
  text-align: center;
  font-weight: 200;
  font-size: 13px;
}
.makeup-and-hairstyle .makeup-main .makeup-button {
  padding: 10px 20px;
  border: 0.5px solid #5e4a49;
  background-color: transparent;
  color: #5e4a49;
  font-family: "Baskervville", serif;
}
.makeup-and-hairstyle .hairstyle-main {
  margin-top: 20px;
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap.wedding {
  order: 1;
}
@media (min-width: 991px) {
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap.wedding {
    order: 2;
  }
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap.party {
  order: 2;
}
@media (min-width: 991px) {
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap.party {
    order: 1;
  }
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap.photoshoot {
  order: 3;
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image {
  margin-top: 30px;
  flex: 0 0 200px;
  position: relative;
  z-index: 1;
}
@media (min-width: 991px) {
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image.main-photo-image {
    flex: 0 0 250px;
  }
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image.main-photo-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(15px, -15px);
    border: 1px solid #e3b6b1;
    z-index: -1;
  }
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image.main-photo-image p {
    transform: translate(-90%, -60%);
    font-size: 45px;
  }
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image.main-photo-image p::first-letter {
    color: #b99692;
  }
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fae9e7;
  font-size: 35px;
  font-family: "Baskervville", serif;
}
@media (min-width: 991px) {
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image p {
    transform: translate(-70%, -50%);
  }
  .makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image p::first-letter {
    color: #b99692;
  }
}
.makeup-and-hairstyle .hairstyle-main .hairstyle-image-wrap .hairstyle-image img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
