@use "variable";
//sass -w ./scss/_contact.scss ./css/style.css

body{
    background-color: #F8F6F4;
}
input[type="submit"]{
    padding: 10px 40px;
    background-color: variable.$main-bg-color;
    border: solid 1px black;
}
section{
    margin: auto;
    color: variable.$main-text-color;
    font-family: variable.$main-font;

    form{
        padding-bottom: 60px;
    }

    .contactsection{
        text-align: center;

        .contacttittle{
            margin: 0px auto 10px auto;
            width: 50%;
            padding-top: 170px;

            h1{
                font-size: 80px;
            }

            .contactunderline{
                margin: 0 auto;
                width: 200px;
                height: 1px;
                background-color: #E3B6B1;
            }
        }
        .container{
            width: 60%;
            background-color: variable.$main-bg-color;

            .servicetype{
                font-size: 48px;
                padding-top: 60px;
                
                #services{
                    margin: 0;
                    border-bottom: solid 1px black;
                    padding: 0 80px;
                    text-decoration: none;
                        color: black;
                }
                #classes{
                    margin: 0;
                    padding: 0 80px;
                    border-bottom: solid 1px #888888;
                    text-decoration: none;
                    color: #888888;
                }
            }

            .eventtype{
                display: none;
            }
            .showing.eventtype{
                display: block;
                width: 80%;
                margin: 60px auto;
                font-weight: 400;
                font-size: 20px;
                .eventtypeselect{
                    input{
                        display: none;
                    }
                    label {
                        background-color: white;
                        width: 200px;
                        height: 50px;
                        position: relative;
                        padding-top: 8px;
                        padding-left: 20px;
                        text-align: left;
                        span{
                            position: absolute;
                        }
                        img{
                            position: absolute;
                            margin-top: 5px;
                            left: 80%;
                            display: none;
                        }
                    }
                    
                    .checkedmark + label{
                        border: solid 1px black;
                        img{
                            display: inline;
                        }
                    }
                }
                .calltimearea{
                    display: none;
                }
                .showing.calltimearea{ 
                    display: block;
                }
            }
            
            .servicedetails{
                display: none;
            }
            .showing.servicedetails{
                display: block;

                .servicedetailtype{
                    input{
                        display: none;
                    }
                    label {
                        background-color: white;
                        width: 200px;
                        height: 50px;
                        position: relative;
                        padding-top: 8px;
                        padding-left: 20px;
                        text-align: left;
                        span{
                            position: absolute;
                        }
                        img{
                            position: absolute;
                            margin-top: 5px;
                            left: 80%;
                            display: none;
                        }
                    }
                    
                    .checkedmark + label{
                        border: solid 1px black;
                        img{
                            display: inline;
                        }
                    }
                }
                //"Anyone else need service?" areas
                .forwedding{
                    display: none;
                }
                .showing.forwedding{
                    display: block;

                    .detailinfo{
                        margin: 10px auto;
                        padding: 10px 20px;
                        text-align: left;
                        background-color: white;
                        width: 60%;

                        .line{
                            display: inline-block;
                            width: 1px;
                            height: 20px;
                            background-color: #E3B6B1;
                        }
                    }
                }
                .forparty{
                    display: none;
                }
                .showing.forparty{
                    display: block;

                    .detailinfo{
                        margin: 10px auto;
                        padding: 10px 20px;
                        text-align: left;
                        background-color: white;
                        width: 60%;
                    }
                }
            }

            .thankyoupage{
                display: none;
                
            }

            .showing.thankyoupage{
                display: block;

                .container{
                    width: 80%;
                    padding-bottom: 60px;
                    .resultarea{
                        padding: 40px 0;
                        border: solid 1px black;
    
                        img{
                            width: 85%;
                        }

                        .bookedservice{
                            display: none;
                        }
                        .showing.bookedservice{
                            display: block;
                        }

                        .linksection{
                            #logoimg{
                                width: 100px;
                                margin: 10px;
                            }
                        }
                    }    
                }
            }
            
        }
    }
}