@use "variable";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service-wrapper {
  background-color: variable.$color-paleWhite;

  .service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 0 0 0;

    .title {
      max-width: 500px;
      font-size: 40px;
      font-weight: 100;
      color: variable.$color-russett;
      font-family: variable.$font-title;

    @media (min-width: variable.$responsive-min-width-800) {
      font-size: 80px;}
    }

    .short-description {
      margin: 10px 0 20px 0;
    }

    span {
      display: inline-block;
      margin: 0 auto 20px;
      width: 300px;
      border-bottom: 0.8px solid variable.$color-roseFog;
    }

    p {
      width: 300px;
      text-align: center;
      font-weight: 200;
      font-size: 14px;
      font-family: variable.$font-body;
    }
  }
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: variable.$color-linen;

  @media (min-width: variable.$responsive-min-width-800) {
    flex-direction: row;
    padding: 0 50px 3rem 3rem;

    &:nth-of-type(2) {
      padding-top: 100px;
    }

    &:nth-of-type(4) {
      padding-bottom: 100px;
    }
  }

  .servie-image {
    flex: 1;
    max-width: 400px;
    width: 100%;
    margin: auto;
    

    @media (min-width: variable.$responsive-min-width-800) {
      flex: 0 0 350px;
    }

    img {
      width: 100%;
    }
  }

  .servie-description {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @media (min-width: 800px) {
      max-width: 800px;
    }

    h3 {
      font-size: 40px;
      color: variable.$color-russett;
      font-family: variable.$font-title;
    }

    .price-time {
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;

      @media (min-width: 800px) {
        flex-direction: row;
        justify-content: start;
      }

      .price,
      .time {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;

        &.time {
          flex: 2;
        }

        p {
          margin: 0;
        }

        figure {
          display: flex;
          flex: 0 0 20px;
          align-items: center;

          img {
            width: 100%;
          }
        }
      }
    }

    .welcome-message {
      margin-top: 30px;
      font-size: 20px;
      font-weight: 100;
      color: variable.$color-black;
      font-family: variable.$font-title;

      @media (min-width: 800px) {
        margin-top: 20px;
      }
    }

    .service-detail {
      min-height: 100px;
    }

    p {
      margin-top: 10px;
      font-weight: 200;
      font-size: 14px;
      font-family: variable.$font-body;
    }

    .quote-button {
      margin: 30px 0;
      width: 100%;
      height: 50px;

      @media (min-width: 800px) {
        max-width: 200px;
      }

      button {
        @extend .button-basic;

        a{
          @extend .button-contact-link;
        }
      
        &:hover {
          @extend .button-hover;
        }
      }
    }
  }
}