// font family
$font-title: "Baskervville", serif;
$font-body: "Poppins", sans-serif;

// color
$color-paleWhite: #f8f6f4;
$color-paperWhite: #fbfafa;
$color-linen: #fae9e7;
$color-roseFog: #e3b6b1;
$color-darkPink: #b99692;
$color-russett: #725a58;
$color-brown: #a06d67;
$color-midGray: #888888;
$color-darkGray: #535353;
$color-black: #191919;

// responsive
$responsive-min-width: 910px; // just for now
$responsive-min-width-1024: 1024px;
