// background color
$main-bg-color: #fae9e7;
$submain-bg-color: #f8f6f4;

// text color
$main-text-color: #725a58;

// button color
$main-button-color: #e3b6b1;
$linked-button-color: #5e4a49;

// font family
$main-font: "Baskervville", serif;
$body-font: "Poppins", sans-serif;
