@use "variable";

.section-title {
  font-size: 30px;
  text-align: center;
  color: variable.$color-russett;
  font-family: variable.$font-title;
}

.makeup-and-hairstyle {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variable.$color-paleWhite;

  .makeup-main {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      @extend .section-title;
      letter-spacing: 10px;

      @media (min-width: variable.$responsive-min-width) {
        font-size: 40px;
      }
    }

    span {
      display: inline-block;
      margin-bottom: 20px;
      width: 200px;
      height: 10px;
      border-bottom: 0.8px solid variable.$color-roseFog;
    }

    p {
      text-align: center;
      font-weight: 200;
      font-size: 13px;
    }

    .makeup-button {
      padding: 10px 20px;
      border: 0.5px solid variable.$color-donJuan;
      background-color: transparent;
      color: variable.$color-donJuan;
      font-family: variable.$font-title;

      &:hover {
        background-color: variable.$color-darkPink;
        border: 0.5px solid variable.$color-darkPink;
        color: variable.$color-paleWhite;
      }
    }
  }

  .hairstyle-main {
    margin-top: 20px;
    .hairstyle-image-wrap {
      &.wedding {
        order: 1;
        @media (min-width: variable.$responsive-min-width) {
          order: 2;
        }
      }

      &.party {
        order: 2;
        @media (min-width: variable.$responsive-min-width) {
          order: 1;
        }
      }

      &.photoshoot {
        order: 3;
      }

      .hairstyle-image {
        margin-top: 30px;
        position: relative;
        z-index: 1;

        &.sub-photo-image {
          @media (min-width: variable.$responsive-min-width) {
            flex: 0 0 200px;

            &:hover {
              @media (min-width: variable.$responsive-min-width) {
                flex: 0 0 250px;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  transform: translate(15px, -15px);
                  border: 1px solid variable.$color-roseFog;
                  z-index: -1;
                }

                p {
                  transform: translate(-65%, -60%);
                  font-size: 45px;
                }

                .party {
                  transform: translate(-140%, -60%);
                }
              }
            }
          }
        }

        &.main-photo-image {
          @media (min-width: variable.$responsive-min-width) {
            flex: 0 0 250px;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translate(15px, -15px);
              border: 1px solid variable.$color-roseFog;
              z-index: -1;
            }

            p {
              transform: translate(-90%, -60%);
              font-size: 45px;
              &::first-letter {
                color: variable.$color-darkPink;
              }
            }
          }
        }

        p {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: transparent;
          color: variable.$color-linen;
          font-size: 35px;
          font-family: variable.$font-title;

          @media (min-width: variable.$responsive-min-width) {
            &.photoshoot {
              transform: translate(-70%, -50%);
            }

            &.party {
              transform: translate(-145%, -50%);
            }

            &::first-letter {
              color: variable.$color-darkPink;
            }
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.makeup-101-wrapper {
  background-color: variable.$color-paleWhite;

  .makeup-101 {
    background-color: variable.$color-linen;
    color: variable.$color-russett;

    @media (min-width: variable.$responsive-min-width) {
      padding: 0 50px;
      margin: 0 60px;
    }

    h2 {
      @extend .section-title;
      padding-top: 30px;
      letter-spacing: 10px;

      @media (min-width: variable.$responsive-min-width) {
        font-size: 40px;
      }
    }

    .makeup-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 20px;

      @media (min-width: variable.$responsive-min-width) {
        flex-direction: row;
        justify-content: space-between;
      }

      .makeup-description {
        display: flex;
        flex-direction: column;

        .makeup-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-decoration: none;

          &:hover {
            background-color: variable.$color-roseFog; // need modification
          }

          @media (min-width: variable.$responsive-min-width) {
            padding: 0;
            margin-top: 30px;
            height: 100px;
            flex-direction: row;
            text-align: start;
            justify-content: start;
          }

          .makeup-content {
            width: 100%;
            height: 100%;
            padding: 10px;

            .lesson-name {
              display: flex;
              flex-direction: column;
              align-items: center;
              figure {
                margin: 0;
              }

              @media (min-width: variable.$responsive-min-width) {
                flex-direction: row;
              }
            }

            h3 {
              font-family: variable.$font-title;
              color: variable.$color-russett;
              font-size: 25px;
              margin: 0;
            }

            p {
              font-family: variable.$font-body;
              color: variable.$color-black;
              font-weight: 200;
              font-size: 14px;
            }
          }

          .viewClass {
            display: flex;
            padding: 10px 20px;
            border: none;
            background-color: transparent;
            gap: 10px;

            p {
              font-family: variable.$font-title;
              color: variable.$color-donJuan;

              @media (min-width: variable.$responsive-min-width) {
                display: none;
              }
            }
          }
        }

        .all-classes {
          display: flex;
          justify-content: start;
          padding: 0 20px;
          margin: 20px;
          @media (min-width: variable.$responsive-min-width) {
            padding: 20px 0px;
            height: 100px;
          }

          button {
            padding: 10px 20px;
            margin-bottom: 10px;
            width: 100%;
            border: 0.5px solid variable.$color-donJuan;
            background-color: transparent;
            color: variable.$color-donJuan;
            font-family: variable.$font-title;

            @media (min-width: variable.$responsive-min-width) {
              width: 40%;
              height: 60px;
            }

            &:hover {
              background-color: variable.$color-darkPink;
              border: 0.5px solid variable.$color-darkPink;
              color: variable.$color-paleWhite;
            }
          }
        }
      }

      .instructor-image {
        position: relative;
        padding-top: 20px;
        margin: 0;
        flex: 0 0 350px;

        img {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 30px;
          left: 15px;
          transform: translate(10px, 10px);
          width: 90%;
          height: 90%;
          border: 1px solid variable.$color-paperWhite;

          @media (min-width: variable.$responsive-min-width) {
            transform: translate(0.2rem, 0.3rem);
            width: 90%;
            height: 80%;
          }
        }
      }
    }
  }
}

.diy-wrapper {
  background-color: variable.$color-paleWhite;

  .diy-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    span {
      display: inline-block;
      margin-bottom: 20px;
      width: 200px;
      height: 10px;
      border-bottom: 0.8px solid variable.$color-roseFog;
    }

    @media (min-width: variable.$responsive-min-width) {
      span {
        display: none;
      }
    }

    h2 {
      @extend .section-title;
      padding: 20px;
      @media (min-width: variable.$responsive-min-width) {
        font-size: 40px;
      }
    }

    .beauty-tips {
      width: 60%;
      display: flex;
      justify-content: center;
      padding: 0 20px;
      margin-top: 40px;
      height: 70px;

      button {
        padding: 10px 20px;
        margin-bottom: 10px;
        width: 100%;
        border: 0.5px solid variable.$color-donJuan;
        background-color: transparent;
        color: variable.$color-donJuan;
        font-family: variable.$font-title;

        @media (min-width: variable.$responsive-min-width) {
          width: 40%;
          height: 60px;
        }

        &:hover {
          background-color: variable.$color-darkPink;
          border: 0.5px solid variable.$color-darkPink;
          color: variable.$color-paleWhite;
        }
      }
    }
  }
}

.scroll_list {
  display: flex;
  gap: 5px;
  padding: 0;
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  list-style: none;

  @media (min-width: variable.$responsive-min-width) {
    justify-content: center;
    overflow-x: unset;
  }

  .thumbnail {
    cursor: pointer;
    margin: 10px;
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: variable.$color-black;

  .modal-content {
    position: relative;
    margin: 15% auto;
    width: 80%;
  }

  .close {
    position: absolute;
    right: -25px;
    top: -10px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: variable.$color-paleWhite;

    &:hover,
    :focus {
      color: variable.$color-paleWhite;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
