// Common use file
@use "variable";
//files of pages and sections
@use "hero.scss";
@use "about.scss";
@use "service";
@use "contact";

body{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
}
.chat {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 2;
  img{
    height: auto;
    width: 70px;
  }
}

.makeup-and-hairstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: variable.$color-paleWhite;

  .makeup-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 10px;

    h2 {
      @extend .section-title;
      letter-spacing: 10px;
      font-size: 40px;

      @media (min-width: variable.$responsive-min-width-992) {
        font-size: 60px;
      }
    }

    span {
      @extend .text-underline;
    }

    p {
      margin: 20px 0;
      text-align: center;
      font-weight: 200;
      font-size: 14px;
    }

    .makeup-button {
      @extend .button-style;

      a{
          @extend .button-contact-link;
      }

      padding: 10px 20px;
      width: 180px;
      height: 60px;

      &:hover {
        border: 0.5px solid variable.$color-darkPink;
        background-color: variable.$color-darkPink;
        color: variable.$color-paleWhite;
      }
    }
  }

  .hairstyle-main {
    margin-top: 20px;

    p {
      font-size: 50px;
    }

    .hairstyle-image-wrap {
      &.wedding {
        order: 1;
        @media (min-width: variable.$responsive-min-width-992) {
          order: 2;
        }
      }

      &.party {
        order: 2;
        @media (min-width: variable.$responsive-min-width-992) {
          order: 1;
        }
      }

      &.photoshoot {
        order: 3;
      }

      .hairstyle-image {
        margin-top: 30px;
        position: relative;
        z-index: 1;

        &.sub-photo-image {
          flex: 0 0 400px;
          max-width: 100%;

          p {
            font-size: 50px;
          }

          @media (min-width: variable.$responsive-min-width-992) {
            flex: 0 0 200px;

            p {
              &.party {
                transform: translate(-130%, -60%);
                font-size: 40px;
              }

              &.photoshoot {
                transform: translate(-60%, -60%);
                font-size: 40px;
              }
            }

            &:hover {
              @media (min-width: variable.$responsive-min-width-992) {
                flex: 0 0 250px;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  transform: translate(15px, -15px);
                  border: 1px solid variable.$color-roseFog;
                  z-index: -1;
                }

                p {
                  transform: translate(-65%, -60%);
                  font-size: 45px;

                  &.party {
                    transform: translate(-140%, -60%);
                  }
                }
              }
            }
          }
        }

        &.main-photo-image {
          flex: 0 0 400px;
          max-width: 100%;

          p {
            font-size: 50px;
          }

          @media (min-width: variable.$responsive-min-width-992) {
            flex: 0 0 250px;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translate(15px, -15px);
              border: 1px solid variable.$color-roseFog;
              z-index: -1;
            }

            p {
              transform: translate(-90%, -60%);
              font-size: 45px;
              &::first-letter {
                color: variable.$color-darkPink;
              }
            }
          }
        }

        p {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: transparent;
          color: variable.$color-linen;
          font-size: 35px;
          font-family: variable.$font-title;

          @media (min-width: variable.$responsive-min-width-992) {
            &.photoshoot {
              transform: translate(-70%, -50%);
            }

            &.party {
              transform: translate(-145%, -50%);
            }

            &::first-letter {
              color: variable.$color-darkPink;
            }
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.makeup-101-wrapper {
  background-color: variable.$color-paleWhite;

  .makeup-101 {
    background-color: variable.$color-linen;
    color: variable.$color-russett;

    @media (min-width: variable.$responsive-min-width-992) {
      margin: 0 60px;
      padding: 20px 50px;
    }

    @media (min-width: variable.$responsive-min-width-1024) {
      padding: 20px 100px;
    }

    h2 {
      @extend .section-title;
      padding: 30px 20px 0;
      letter-spacing: 10px;
      font-size: 40px;

      @media (min-width: variable.$responsive-min-width-992) {
        font-size: 60px;
      }
    }

    .makeup-wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      @media (min-width: variable.$responsive-min-width-992) {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
      }

      .makeup-description {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .makeup-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
          text-align: center;
          text-decoration: none;

          &:hover {
            background-color: variable.$color-vanillaIce;
          }

          @media (min-width: variable.$responsive-min-width-992) {
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding: 10px;
            margin-top: 30px;
            height: 100px;
            text-align: start;
          }

          .makeup-content {
            width: 100%;
            height: 100%;

            .lesson-name {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              figure {
                margin: 0;
              }

              @media (min-width: variable.$responsive-min-width-992) {
                flex-direction: row;
              }
            }

            h3 {
              margin: 0;
              font-family: variable.$font-title;
              color: variable.$color-russett;
              font-size: 30px;

              @media (min-width: variable.$responsive-min-width-992) {
                font-size: 20px;
              }
              @media (min-width: variable.$responsive-min-width-1024) {
                font-size: 25px;
              }
            }

            p {
              margin-top: 14px;
              font-family: variable.$font-body;
              color: variable.$color-black;
              font-weight: 200;
              font-size: 16px;

              @media (min-width: variable.$responsive-min-width-992) {
                font-size: 12px;
              }
            }
          }

          .viewClass {
            display: flex;
            border: none;
            background-color: transparent;
            gap: 10px;

            p {
              color: variable.$color-donJuan;
              font-family: variable.$font-title;
              font-size: 20px;

              @media (min-width: variable.$responsive-min-width-992) {
                display: none;
              }
            }
          }
        }

        .all-classes {
          display: flex;
          justify-content: start;
          padding: 0 20px;
          margin-top: 20px;

          @media (min-width: variable.$responsive-min-width-992) {
            padding: 20px 0px;
            height: 100px;
            max-width: 300px;
          }

          button {
            @extend .button-style;
            padding: 10px 20px;
            margin-bottom: 30px;
            width: 100%;
            height: 100%;

            @media (min-width: variable.$responsive-min-width-992) {
              width: 50%;
              margin-top: 10px;
            }

            &:hover {
              background-color: variable.$color-darkPink;
              border: 0.5px solid variable.$color-darkPink;
              color: variable.$color-paleWhite;
            }
          }
        }
      }

      .instructor-image {
        position: relative;
        padding-top: 20px;
        margin: 0;
        flex: 0 0 300px;

        img {
          width: 100%;
          max-width: 400px;
          margin: auto;
          display: block;

           @media (min-width: variable.$responsive-min-width-992) {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% - 200px);
          height: calc(100% - 100px);
          border: 1px solid variable.$color-paperWhite;
          display: block;

          @media (min-width: variable.$responsive-min-width-992) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            width: calc(100% - 48px);
            height: calc(100% - 160px);
          }
        }
      }
    }
  }
}

.diy-wrapper {
  background-color: variable.$color-paleWhite;

  .diy-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;

    h2 {
      @extend .section-title;
      padding: 0;
      font-size: 35px;
      @media (min-width: variable.$responsive-min-width-992) {
        font-size: 50px;
      }
    }

    span {
      @extend .text-underline;
    }

    @media (min-width: variable.$responsive-min-width-992) {
      span {
        display: none;
      }
    }

    .beauty-tips {
      display: flex;
      justify-content: center;
      width: 70%;
      padding: 0 20px;
      margin-top: 20px;

      button {
        @extend .button-style;
        padding: 10px 20px;
        margin-bottom: 10px;
        width: 100%;

        @media (min-width: variable.$responsive-min-width-992) {
          width: 30%;
          height: 60px;
        }

        &:hover {
          background-color: variable.$color-darkPink;
          border: 0.5px solid variable.$color-darkPink;
          color: variable.$color-paleWhite;
        }
      }
    }
  }
}

.scroll-list {
  display: flex;
  gap: 5px;
  padding-top: 30px;
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  list-style: none;

  @media (min-width: variable.$responsive-min-width-992) {
    justify-content: center;
    overflow-x: unset;
  }

  .thumbnail {
    cursor: pointer;
    margin: 10px;

    img {
      width: 250px;

      &:hover {
        filter: grayscale(70%);
        -webkit-filter: grayscale(40%);
        -moz-filter: grayscale(100%);
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: variable.$color-black;

  .modal-content {
    position: relative;
    margin: 15% auto;
    width: 80%;

    .close {
      position: absolute;
      top: -50px;
      right: -50px;
      display: block;
      border: none;
      width: 50px;
      z-index: 999;
      font-size: 2rem;
      font-weight: normal;
      color: variable.$color-paleWhite;

      &:hover,
      :focus {
        color: variable.$color-paleWhite;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

header {
  z-index: 100;
  background-color: variable.$color-paleWhite;
  list-style: none;
  position: fixed;
  width: 100%;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 5px;
    padding: 10px 0;

    .icon-instagram-desktop {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
      }

      @media (min-width: variable.$responsive-min-width-1024) {
        display: none;
      }
    }

    .header-hamburger {
      position: relative;
      z-index: 110;
      top: 0;
      left: 20px;
      width: 40px;
      height: 40px;
      display: block;
      border: none;

      @media (min-width: variable.$responsive-min-width-1024) {
        display: none;
      }

      .hamburger-image {
        border: none;

        @media (max-width: variable.$responsive-min-width-1024) {
          display: block;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .mobile-logo {
      display: block;
      width: auto;
      max-width: 100%;
      padding: 13px 20px;
      @media (min-width: variable.$responsive-min-width-1024) {
        display: none;
      }
    }

    .navigation {
      z-index: 100;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      @media (min-width: variable.$responsive-min-width-1024) {
        flex-direction: row;
      }

      &.header-navigation {
        z-index: 100;
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100vh;
        padding-bottom: 0px;
        background-color: variable.$color-paleWhite;
        transition: 0.8s;

        &.active {
          left: 0;
        }

        @media (min-width: variable.$responsive-min-width-1024) {
          position: static;
          height: 100%;
        }
      }

      .company-logo {
        padding: 13px 20px;
        order: -1;
        margin: 0;
        @media (min-width: variable.$responsive-min-width-1024) {
          order: 0;
        }
      }

      .menu-content {
        margin: 0;
        padding: 0;
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        text-align: center;
        flex-direction: column;
        @media (min-width: variable.$responsive-min-width-1024) {
          flex-direction: row;
        }

        .menu-list {
          list-style: none;
          width: 460px;
          padding: 0 5px;
          margin: 10px;

          @media (min-width: variable.$responsive-min-width-1024) {
            margin: auto;
          }

          &.list-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-instagram {
              flex: 0 0 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              display: none;
              margin: 0;

              @media (min-width: variable.$responsive-min-width-1024) {
                display: block;
              }

              img {
                width: 100%;
              }
            }
          }

          @media (min-width: variable.$responsive-min-width-1024) {
            &:not(:first-of-type) {
              border-left: 1px solid variable.$color-roseFog;
            }
          }

          a {
            color: variable.$color-russett;
            text-decoration: none;
            text-underline-offset: 5px;
            font-weight: 100;
            font-size: 32px;
            font-family: variable.$font-title;

            @media (min-width: variable.$responsive-min-width-1024) {
              font-size: 18px;
            }

            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 1px;
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .informatino {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: solid 0.5px variable.$color-black;
      width: 100%;
      padding: 20px;

      @media (min-width: variable.$responsive-min-width-1024) {
        padding-bottom: 30px;
      }
    }

    .menu-wrapper {
      .menu {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        @media (min-width: variable.$responsive-min-width-1024) {
          margin: 17px 0;
        }

        ul {
          flex: 1;
          padding: 0;
          margin: 0;

          @media (min-width: variable.$responsive-min-width-1024) {
            display: flex;
          }

          li {
            list-style: none;
            padding: 0.2rem;
            width: 140px;
            text-align: center;

            a {
              color: variable.$color-russett;
              text-decoration: none;
              text-underline-offset: 5px;
              font-weight: 200;
              font-size: 20px;
              font-family: variable.$font-title;

              &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
              }
            }
          }
        }
      }
    }

    .copylight {
      display: flex;
      justify-content: center;
      border-top: solid 0.5px variable.$color-black;
      width: 100%;

      P {
        margin: 20px 0;
        color: variable.$color-russett;
        font-size: 14px;
        font-weight: 200;
      }
    }
  }
}

.contact {
  display: flex;
  gap: 30px;
  margin-top: 20px;

  .icon {
    flex: 0 0 24px;

    img {
      width: 100%;
    }
  }
}

.company-catchphrase {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 100;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}