@use "variable";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.chat {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 2;
}

.chat img {
  height: 70px;
  width: 70px;
}

.catch-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.catch {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 2;
  top: 40%;
  margin:0 20px;
}

.catch-svg{
  width:100%;
  height:auto; 
}


.catch p {
  font-family: 'Baskervville', serif;
  font-size: 18px;
  font-weight: 300;
  overflow-wrap: normal;
  text-align: center;
}

.catch button {
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid white;
  background:none;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  width: 300px;
  height: auto;
}

.about-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.right-section button{
  font-size: 18px;
  padding: 0 10px;
  color:  variable.$color-brown;
  cursor: pointer;
  border: 1px solid variable.$color-brown;
  background:none;
}

.about-buttons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:600px) {
  .about-section{
    display: flex;
    flex-direction: column-reverse;
  }
  .about-buttons{
    flex-direction: column-reverse;
  }
}