@use "variable";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.chat {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 2;
}

.chat img {
  height: 70px;
  width: 70px;
}

.catch-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.catch {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 2;
  top: 40%;
  margin:0 20px;
}

.catch-svg{
  width:100%;
  height:auto; 
}


.catch p {
  font-family: variable.$font-title;
  font-size: 18px;
  font-weight: 300;
  overflow-wrap: normal;
  text-align: center;
}

.catch button {
  font-size: 18px;
  padding: 20px 25px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid white;
  background:none;
  font-family:  variable.$font-title;
}

.about-container{
  background-color: variable.$color-paleWhite;
  padding:50px 200px;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px 10px;
}

.about-img{
  width: 300px;
  height: auto;
}

.about-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.right-section{
  margin-left: 50px;
  h2{
    font-size: 32px;
    text-align: center;
    font-family: variable.$font-title;
  }
  p{
    font-family: "Avenir", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: center;
  }
}

.right-section button{
  font-size: 18px;
  padding: 15px 10px;
  height:auto;
  width:50%;
  color:  variable.$color-brown;
  font-family:  variable.$font-title;
  cursor: pointer;
  border: 1px solid variable.$color-brown;
  background:none;
  margin:10px 30px;
  bottom:0;
}

.about-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-buttons img{
  width: 50%;
  margin:10px 30px;
  bottom:0;
}

.brand-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-brands{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
  p{ 
    color:variable.$color-darkGray;
    margin: 0 20px;
    font-size: 24px;
    text-align: center;
  }
  .brands-border{
    flex-grow: 1;
    height: 1px;
    background-color: #888888;
    margin: 0 10px;
}
}
.brand-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 15px 100px;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand-logos img {
  width: 100px;
  height: auto;
  margin: 10px;
}

@media (max-width: 1024px) {
  .brand-logos {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 600px) {
  .brand-logos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:800px) {
  .about-container{
    padding:0 20px;
  }
  .about-section{
    display: flex;
    flex-direction: column-reverse;
    padding:0;
  }
  .about-buttons{
    flex-direction: column-reverse;
    padding:0 40px;
  }
  .right-section{
    padding-top: 30px;
    margin-left: 0;
    .right-logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .brand-logos{
    display: grid;
    grid-row: 2;
  }
}


.work-container{
  background-color: variable.$color-linen;
  .star{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    h2{
      color: #5E4A49;
      font-weight: 400;
      font-size: 70px;
      font-family: variable.$font-title;
    }
    button{
      font-size: 18px;
      padding: 0 10px;
      height:40px;
      width:200px;
      color:  variable.$color-brown;
      font-family:  variable.$font-title;
      cursor: pointer;
      border: 1px solid variable.$color-brown;
      background:none;
    }
  }
  .work-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      height: auto;
      overflow: hidden;
    }
  }
}

@media (max-width: 600px) {
  .work-pics {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; 
    margin: 0 auto;
  }

  .work-pics img {
    width: 100%;
    height:auto;
    padding: 10px;
  }
}
